services:
  local-tcp-server:
    build:
      context: .
      dockerfile: client.Dockerfile
    environment:
      CRYPTO_KEY: "<key for cipher>"
      BROKER_PASSWORD: "<set in server>"
      BROKER_HOST: "<your server>"
      BROKER_PORT: 1883
      BROKER_USER: connection
      STAT_FILE: stat.json
      SOCKETS: "iperf:0.0.0.0:9091;http:0.0.0.0:9090"
      UVLOOP: false  # getting problem in PyPy runtime
      LOG_LEVEL: "info"
    ports:
      - "9090:9090/tcp"
      - "9091:9091/tcp"
    restart: unless-stopped
